/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Aug, 2020, 10:45:50 PM
    Author     : User
*/

.column {
   
  float: left;
  width: 70%;
  padding: 10px;
  padding-right: 70px;
  
   /* Should be removed. Only for demonstration */
}
.column1 {
  
  float: left;
  width: 30%;
  min-height: 450px;
  padding: 10px;
 //argin-left: 10px;
  border: 10px #1abc9c solid;
  border-radius: 10px;
  position: relative;
  
  //n-width: 500px;
   /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
   .column1 {
    width: 100%;
    
  }
 
}
.header {
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}